/* Genaral Page Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

/* Form Styling */
#form input {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 3px;
}
