/* Utility */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  transition: transform 1s;
  transform: scale(1.1);
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #fff;
  color: #000;
}

.navbar a.active {
  background-color: #999;
}

/* Showcase */
#scripts_video {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: -1;
}

.video_text {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 20px;
  margin-top: 23%;
  text-align: center;
}



/* About, GitHub, Contact */
.column1 {
  float: left;
  min-width: 50%;
  max-width: 50%;
  height: 450px;
  background-color: #fff;
}

.column2 {
  float: left;
  min-width: 50%;
  max-width: 50%;
  height: 400px;
}

.column3 {
  float: left;
  max-width: 50%;
  min-width: 50%;
  max-height: 400px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3%;
}

.video_text p {
  padding-top: 30px;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  padding: 10px;
  padding-top: 20px;
}

#contact .column1 h2 {
  padding-top: 5px;
}

#github h2 {
  padding: 20px 0px;
}

#github .column1 img:hover {
  transition: transform 1s;
	transform: scale(1.1);
}

#about p {
  text-align: justify;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#github p {
  text-align: center;
  padding: 0;
  padding-top: 50px;
  font-size: 20px;
}

#github a {
  margin-top: 30px;
}

q {
  font-style: italic;
  font-weight: bold;
}

/* Contact */
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  display: block;
  resize: vertical;
}

input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  display: block;
  resize: vertical;
}

textarea {
  resize: vertical;
  display: block;
}

input[type=submit] {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transform: scale(1.2);
  transition: transform 1.5s;
}

form {
  border-radius: 5px;
  background-color: #eee;
  padding: 20px;
  margin: 10px;
}

/* Footer */
footer {
  padding: 2%;
  background-color: #fff;
  text-align: center;
}



